<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@count %></h2>

<h2>Vowels: <%= @vowels%></h2>

<h2>Consonants: <%= @consonants%></h2>

<h2>Most Common Letter: <%=@most_used.flatten[0].upcase%>, used <%=@most_used.flatten[1]%> times</h2>
